body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1651px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:824px;
}
#u4578 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:45px;
  width:228px;
  height:813px;
}
#u4579 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4580_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1300px;
  height:67px;
}
#u4580 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1287px;
  height:54px;
  color:#00A2FF;
}
#u4581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u4582 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:15px;
  width:194px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u4584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u4584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u4585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u4586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
}
#u4586 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:16px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4588 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:16px;
  width:20px;
  height:20px;
}
#u4589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4590 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:53px;
  width:142px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u4590_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4590_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:99px;
}
#u4591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:98px;
}
#u4592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4593 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:41px;
  width:29px;
  height:16px;
}
#u4594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u4595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u4596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u4597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u4597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:369px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u4598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u4599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u4599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:458px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u4600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u4601 {
  position:absolute;
  left:0px;
  top:134px;
}
#u4601_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:99px;
  background-image:none;
}
#u4601_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u4602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u4603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u4604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u4604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:226px;
  height:49px;
}
#u4605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u4606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4606 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:7px;
  width:32px;
  height:32px;
}
#u4607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4608 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:56px;
  width:32px;
  height:32px;
}
#u4609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4610 {
  position:absolute;
  left:0px;
  top:408px;
}
#u4610_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
  background-image:none;
}
#u4610_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u4611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u4612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u4613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4613 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:9px;
  width:32px;
  height:32px;
}
#u4614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4615 {
  position:absolute;
  left:0px;
  top:271px;
}
#u4615_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:99px;
  background-image:none;
}
#u4615_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u4616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u4617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u4618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u4618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:226px;
  height:49px;
}
#u4619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u4620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4620 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:9px;
  width:32px;
  height:32px;
}
#u4621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4622 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:58px;
  width:32px;
  height:32px;
}
#u4623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4624 {
  position:absolute;
  left:0px;
  top:497px;
}
#u4624_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:246px;
  background-image:none;
}
#u4624_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u4625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u4626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u4627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u4627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:226px;
  height:49px;
}
#u4628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u4629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u4629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:226px;
  height:49px;
}
#u4630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u4631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u4631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:226px;
  height:49px;
}
#u4632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u4633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u4633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:226px;
  height:49px;
}
#u4634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u4635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4635 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:9px;
  width:32px;
  height:32px;
}
#u4636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4637 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:59px;
  width:32px;
  height:32px;
}
#u4638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4639 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:107px;
  width:32px;
  height:32px;
}
#u4640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4641 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:157px;
  width:32px;
  height:32px;
}
#u4642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4643 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:203px;
  width:32px;
  height:32px;
}
#u4644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4645 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:11px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u4647 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:8px;
  width:141px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4648 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:132px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4649 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:183px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4650 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:269px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4651 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:320px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4652 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:408px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:497px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:548px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4655 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:597px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4656 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:648px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:693px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:44px;
}
#u4658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:226px;
  height:43px;
}
#u4659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:222px;
  word-wrap:break-word;
}
#u4660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u4660 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:89px;
  width:81px;
  height:40px;
}
#u4661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u4662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4662 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:182px;
  width:57px;
  height:16px;
}
#u4663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u4664 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:236px;
  width:71px;
  height:16px;
}
#u4665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4666 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:412px;
  width:57px;
  height:16px;
}
#u4667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:147px;
}
#u4668 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:236px;
  width:315px;
  height:146px;
}
#u4669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4670 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:306px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u4672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4672 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:268px;
  width:57px;
  height:16px;
}
#u4673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:146px;
}
#u4674 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:236px;
  width:315px;
  height:146px;
}
#u4675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4676 {
  border-width:0px;
  position:absolute;
  left:1623px;
  top:236px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u4678 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:309px;
  width:0px;
  height:0px;
}
#u4678_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:585px;
  height:8px;
}
#u4678_seg1 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4679 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4680 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:178px;
  width:315px;
  height:25px;
}
#u4680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4681 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:408px;
  width:315px;
  height:25px;
}
#u4681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
}
#u4682 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:417px;
  width:180px;
  height:16px;
  color:#999999;
}
#u4683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u4684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u4684 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:561px;
  width:140px;
  height:40px;
}
#u4685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u4686 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:561px;
  width:140px;
  height:40px;
}
#u4687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
