body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1284px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:141px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:126px;
  width:250px;
  height:140px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:824px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:45px;
  width:228px;
  height:813px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1300px;
  height:67px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1287px;
  height:54px;
  color:#00A2FF;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:15px;
  width:194px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u2322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u2324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:16px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:16px;
  width:20px;
  height:20px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:53px;
  width:142px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u2328_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2328_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:99px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:98px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:41px;
  width:29px;
  height:16px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:191px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:328px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:417px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u2339 {
  position:absolute;
  left:0px;
  top:93px;
}
#u2339_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:99px;
  background-image:none;
}
#u2339_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:226px;
  height:49px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u2344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:7px;
  width:32px;
  height:32px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:56px;
  width:32px;
  height:32px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348 {
  position:absolute;
  left:0px;
  top:367px;
}
#u2348_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
  background-image:none;
}
#u2348_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:9px;
  width:32px;
  height:32px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2353 {
  position:absolute;
  left:0px;
  top:230px;
}
#u2353_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:99px;
  background-image:none;
}
#u2353_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u2356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:226px;
  height:49px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:9px;
  width:32px;
  height:32px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:58px;
  width:32px;
  height:32px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2362 {
  position:absolute;
  left:0px;
  top:456px;
}
#u2362_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:246px;
  background-image:none;
}
#u2362_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u2365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:226px;
  height:49px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u2367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:226px;
  height:49px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u2369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:226px;
  height:49px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u2371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:226px;
  height:49px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u2373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:9px;
  width:32px;
  height:32px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:59px;
  width:32px;
  height:32px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:107px;
  width:32px;
  height:32px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:157px;
  width:32px;
  height:32px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:203px;
  width:32px;
  height:32px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:11px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:8px;
  width:141px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:91px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:142px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:228px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:279px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:367px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:456px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:507px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:556px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:607px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:652px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:68px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:75px;
  width:29px;
  height:16px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:311px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:379px;
  width:29px;
  height:16px;
  color:#666666;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:448px;
  width:29px;
  height:16px;
  color:#666666;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:517px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:586px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:654px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:242px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:723px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:20px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:310px;
  width:193px;
  height:19px;
  font-size:16px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:376px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:445px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:514px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:583px;
  width:261px;
  height:19px;
  font-size:16px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u2426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:651px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:58px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:720px;
  width:699px;
  height:57px;
  font-size:16px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  word-wrap:break-word;
}
#u2430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:827px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:824px;
  width:65px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
  color:#00A2FF;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
