body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1284px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:824px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:45px;
  width:228px;
  height:813px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1300px;
  height:67px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1287px;
  height:54px;
  color:#00A2FF;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:15px;
  width:194px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u1860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:16px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:16px;
  width:20px;
  height:20px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:53px;
  width:142px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u1866_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1866_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:99px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:98px;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:41px;
  width:29px;
  height:16px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u1873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:369px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u1875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:458px;
  width:226px;
  height:39px;
  font-size:16px;
  color:#666666;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u1877 {
  position:absolute;
  left:0px;
  top:134px;
}
#u1877_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:99px;
  background-image:none;
}
#u1877_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:226px;
  height:49px;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:7px;
  width:32px;
  height:32px;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:56px;
  width:32px;
  height:32px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886 {
  position:absolute;
  left:0px;
  top:408px;
}
#u1886_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
  background-image:none;
}
#u1886_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:9px;
  width:32px;
  height:32px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891 {
  position:absolute;
  left:0px;
  top:271px;
}
#u1891_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:99px;
  background-image:none;
}
#u1891_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:226px;
  height:49px;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:9px;
  width:32px;
  height:32px;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:58px;
  width:32px;
  height:32px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900 {
  position:absolute;
  left:0px;
  top:497px;
}
#u1900_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:227px;
  height:246px;
  background-image:none;
}
#u1900_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:49px;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:226px;
  height:49px;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:226px;
  height:49px;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:226px;
  height:49px;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:226px;
  height:49px;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:9px;
  width:32px;
  height:32px;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:59px;
  width:32px;
  height:32px;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:107px;
  width:32px;
  height:32px;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:157px;
  width:32px;
  height:32px;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:203px;
  width:32px;
  height:32px;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:11px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:30px;
  word-wrap:break-word;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:8px;
  width:141px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:132px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:183px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:269px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:320px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:408px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:497px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:548px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:597px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:648px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:693px;
  width:220px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:44px;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:226px;
  height:43px;
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:222px;
  word-wrap:break-word;
}
#u1936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
}
#u1936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:742px;
  width:226px;
  height:49px;
  color:#666666;
}
#u1937 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u1938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1938 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:68px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:30px;
  word-wrap:break-word;
}
#u1940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1940 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:75px;
  width:29px;
  height:16px;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:196px;
  width:85px;
  height:16px;
  color:#666666;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:111px;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:102px;
  width:208px;
  height:110px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:251px;
  width:85px;
  height:16px;
  color:#666666;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:308px;
  width:29px;
  height:16px;
  color:#666666;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:359px;
  width:29px;
  height:16px;
  color:#666666;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:406px;
  width:29px;
  height:16px;
  color:#666666;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:605px;
  width:57px;
  height:16px;
  color:#666666;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:610px;
  width:13px;
  height:16px;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:605px;
  width:155px;
  height:29px;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u1960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:659px;
  width:13px;
  height:16px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:654px;
  width:155px;
  height:29px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u1964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:248px;
  width:131px;
  height:19px;
  font-size:16px;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u1966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:305px;
  width:131px;
  height:19px;
  font-size:16px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u1968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:356px;
  width:131px;
  height:19px;
  font-size:16px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u1970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:153px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:403px;
  width:789px;
  height:152px;
  font-size:16px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  word-wrap:break-word;
}
